# Puerto en el que corre el servidor backend (opcional, Render usa automáticamente el suyo)
PORT=10000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.xxx.mongodb.net/test?retryWrites=true&w=majority&appName=Cluster0

# Configuración del correo (usado por Nodemailer)
EMAIL_SENDER=tu_correo@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicacion_gmail

# PDF.co API Key (para firmar documentos)
PDFCO_API_KEY=tu_api_key_pdfco
