
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Confirmación de Solicitud</title>
</head>
<body>
    <h2>Formulario de confirmación de solicitud de elegibilidad del consumidor</h2>
    <p>Yo, {{client_name}}, o mi representante autorizado, por la presente confirmo que he revisado y confirmado la precisión de la información de la solicitud de elegibilidad antes de su presentación para la cobertura a través de los intercambios facilitados por el gobierno federal y los intercambios estatales en la plataforma federal. Entiendo que esta confirmación es un requisito establecido por el Departamento de Salud y Servicios Humanos (HHS) y los Centros de Servicios de Medicare y Medicaid (CMS).</p>
    
    <h4>Detalles de la confirmación:</h4>
    <p>Fecha en que se revisó la información de la solicitud: {{current_datetime}}</p>
    <p>Nombre del consumidor o representante autorizado: {{client_name}}</p>
    
    <p>Reconozco que he leído y comprendido las certificaciones proporcionadas al final de la solicitud de elegibilidad, y confirmo que la información proporcionada en la solicitud es precisa según mi leal saber y entender.</p>
    
    <p>Además, reconozco que el agente, {{agent_name}}, me ha ayudado a completar la solicitud de elegibilidad y ha brindado el apoyo necesario durante todo el proceso.</p>
    
    <p>Al confirmar la precisión de la solicitud de elegibilidad, entiendo que la información proporcionada se utilizará para determinar mi elegibilidad para la cobertura a través de los intercambios facilitados por el gobierno federal y los intercambios estatales en la plataforma federal.</p>
    
    <p><strong>Importante:</strong> De acuerdo con los requisitos establecidos por el HHS y el CMS, esta confirmación y toda la documentación relacionada deben conservarse durante un mínimo de 10 años. Debe estar disponible a solicitud en respuesta a actividades de control, auditoría y cumplimiento.</p>
    
    <p>Por favor, guarde una copia de este formulario para sus registros.</p>
</body>
</html>
